# Compiled files
*.rpyc
*.rpyb
*.pyc

# Temporary files
*~
*.bak
tmp/*

# Local-only files
errors.txt
log.txt
traceback.txt
progressive_download.txt
files.txt
game/saves
game/cache
art/
resources
.android.json
project.json
